body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);
}

header {
    background-color: rgb(0, 0, 0);
    color: #fff;
    display: flex;
    height: 5vh;
    justify-content: space-between;
    padding: 2vh;
    position: relative;
}

.header-left,
.header-right {
    display: flex;
}

ul {
    margin: 0;
}

.header-left a {
    color: #fff;
    text-decoration: none;
    font-size: 2.5vh;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    position: absolute;
    right: 2.5vh;
    padding: 0;
}

nav ul li {
    margin-right: 5vh;
    padding-left: 4vh;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 2.5vh;
    font-family: 'Poppins', sans-serif;
}

#wenwei {
    padding-left: 2vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    height: 2vh;
}

#head-img {
    height: 100vh;
}

.headImg {
    width: 100%;
    height: 80vh;
    margin: 0 auto;
    padding: 3vh;
    background-image: url("../pic/场外2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


/* 
div {
    position: relative;
    width: 100%;
    height: 50vh;
    overflow: hidden;
    color: rgb(255, 255, 255);
    font-size: 5vh;
} */

#test1 {
    font-family: 'Poppins', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 6vh;
    font-weight: 400;
}

#test2 {
    font-family: 'Poppins', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 6vh;
    font-weight: 400;
}